@model SportDash.ViewModels.DataViewModel
@{
    ViewData["Title"] = "Search";
}



<section>
    <div class="text-center">
        <div class="bg-elephant d-flex justify-content-center">
            <div class="container text-Geyser py-5">
                <div>
                    <h2>What are you looking for ?</h2>
                    <p>You can search for Playground or Trainer or Gym with filters option </p>
                    @*<form asp-action="Index">*@
                        <div class="form-inline">
                            <div class="form-group px-sm-3 mb-2 col-md-11">
                                <input type="search" id="txtSearch" class="form-control w-100" />
                            </div>
                            <div class="form-group px-sm-3 mb-2 col-md-1">
                                <button id="search-btn" class="btn btn-lg btn-primary">Search</button>
                            </div>
                        </div>
                    @*</form>*@
                </div>
                <div class="row mt-3">
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Category</label>
                        <div class="col-sm-8">
                            <select id="cat" class="form-control" asp-for="CategoryString" asp-items="Model.Category">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="PriceString" asp-items="Model.Price">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Location</label>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="LocationString" asp-items="Model.Location">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-6 col-form-label">Sport Type</label>
                        <div class="col-sm-6">
                            <select class="form-control" asp-for="SportTypeString" asp-items="Model.SportType">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="search-container" class="bg-Geyser">
        <div id="playgrounds" class="container p-3">
            <h2>Playgrounds</h2>
            <div class="row">
                @if(Model.Playgrounds != null)
                { 
                  @foreach (var item in Model.Playgrounds)
                   {

                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/images/01202005310546396911.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.FullName</h5>
                                <p class="card-text">@item.Location</p>
                                @{var temp = item.PlaygroundPrices[0].Price;}
                                @foreach (var i in item.PlaygroundPrices)
                                {

                                    if (i.Price < temp)
                                        temp = i.Price;
                                }
                                <span>Starts from @temp</span>
                            </div>
                        </div>
                    </div>
                   }
                 }
                 else
                 { 
                      <h3>There are no Playgrounds with such that name</h3>              
                 }
            </div>
            <hr />
        </div>
        <div id="gyms" class="container p-3">
            <h2>Gyms</h2>
            <div class="row">
                @if (Model.Gyms != null)
                 {
                    @foreach (var item in Model.Gyms)
                     {
                        <div class="col-md-3">
                            <div class="card">
                                <img src="~/images/03.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@item.FullName</h5>
                                    <p class="card-text">@item.Location</p>
                                    @{var temp1 = item.GymPrices[0].Subscribtion_Price;}
                                    @foreach (var i in item.GymPrices)
                                     {

                                        if (i.Subscribtion_Price < temp1)
                                            temp1 = i.Subscribtion_Price;
                                     }
                                    <span>Starts from @temp1 </span>
                                </div>
                            </div>
                        </div>
                     }
                 }
                </div>
            <hr />
        </div>

        <div id="trainers" class="container p-3">
            <h2>Coaches</h2>
            <div class="row">
               @if (Model.Trainers != null)
               {
                @foreach (var item in Model.Trainers)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/images/user-icon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.FullName</h5>
                                <p class="card-text">@item.Location</p>
                                <span>@item.SportType.Value</span>
                            </div>
                        </div>
                    </div>
                }
               }
               else
               {
                   <h3></h3>
               }
            </div>
        </div>
    </div>
</section>

<script>


            //$('#txtSearch').autocomplete({
            //    source: function (request, response) {
            //        $.ajax({
            //            url: '/Search/Search',
            //            type: 'GET',
            //            data: { searchString: $('#txtSearch').val() },
            //            success: function (result) {
            //                response($.map(result, function (item) {

            //                    return {
            //                        label:item.Name,value:item.Value
            //                    }
            //                }))
            //            }
            //        });
            //    }
            //});

    $('#cat').change(function()
    {
        var category = $("#cat option:selected").text();
        if (category == "PlaygroundManager") {
            $('#trainers').hide();
            $('#gyms').hide();
            $('#playgrounds').show();

        }
        else if (category == "Coach") {
            $('#playgrounds').hide();
            $('#gyms').hide();
            $('#trainers').show();
        }
        else if (category == "GymManager") {
            $('#playgrounds').hide();
            $('#trainers').hide();
            $('#gyms').show();
        }
        else {
            $('#playgrounds').show();
            $('#gyms').show();
            $('#trainers').show();
        }
    });



    $('#search-btn').click(function (e) {
        e.preventDefault();
        const txt = $("#txtSearch").val();

        console.log(txt)
        if (txt != null) {
            $.ajax({
                url: '/Search/SearchResult',
                type: 'GET',
                data: { searchString: txt },
                dataType: "text",
                success: function (result) {
                    console.log(result);
                    $('#search-container').html(result);
                   
                }
            });

        }
    });
    @*$('#price').change(function () {
        var price = $("#price option:selected").text();
        $.ajax({
        url: '@Url.Action("SearchByPrice", "search")' + "/" + select,
        type: 'POST',
        data: { price : price},
        success: function(result) {
            console.log(result);
        }
      });
    })*@
</script>
