@model SportDash.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/redmond/jquery-ui.css" />

<section>
    <div class="text-center">
        <div class="bg-elephant d-flex justify-content-center">
            <div class="container text-Geyser py-5">
                <div>
                    <h2>What are you looking for ?</h2>
                    <p>You can search for Playground or Trainer or Gym with filters option </p>
                    @*<form asp-action="AutoCompleteSearch">*@
                        <div class="form-inline">
                            <div class="form-group px-sm-3 mb-2 col-md-11">
                                <input asp-for="SearchString" id="txtSearch"  name="txtSearch" class="form-control w-100" />
                            </div>
                            <div class="form-group px-sm-3 mb-2 col-md-1">
                                <button id="search-btn" class="btn btn-lg btn-primary">Search</button>
                            </div>
                        </div>
                    @*</form>*@
                </div>
                <div class="row mt-3">
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Category</label>
                        <div class="col-sm-8">
                            <select id="cat" class="form-control" asp-for="CategoryString" asp-items="Model.Category">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <select id="search-price" class="form-control" asp-for="PriceString" asp-items="Model.Price">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-4 col-form-label">Location</label>
                        <div class="col-sm-8">
                            <select id="search-location" class="form-control" asp-for="LocationString" asp-items="Model.Location">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-3">
                        <label class="col-sm-6 col-form-label">Sport Type</label>
                        <div class="col-sm-6">
                            <select id="search-sportType" class="form-control" asp-for="SportTypeString" asp-items="Model.SportType">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="search-container" class="bg-Geyser">        
            <div id="playgrounds" class="container p-3">
                <h2>Playgrounds</h2>
                <div class="row">
                    @if (Model.Playgrounds.Count > 0)
                    {
                        foreach (var item in Model.Playgrounds)
                        {
                            <div class="col-md-3">
                                <div class="card">
                                    @if (Model.ProfileImage == null)
                                    {
                                        <img  class="card-img-top" src="@("/images/site/user-icon.jpg")" asp-append-version="true">
                                    }
                                    else
                                    {
                                        <img  class="card-img-top" src="@("/images/" + Model.ProfileImage.Title)" asp-append-version="true">
                                    }
                                    <div class="card-body">
                                        <a class="card-title" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        <p class="card-text">@item.Location</p>
                                        @if (item.PlaygroundPrices.Count > 0)
                                        {
                                            var temp = item.PlaygroundPrices[0].Price;

                                            foreach (var i in item.PlaygroundPrices)
                                            {
                                                if (i.Price < temp)
                                                {
                                                    temp = i.Price;
                                                }
                                            }
                                            <span>Starts from @temp </span>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>There are no playgrounds with that name</h5>
                    }
                </div>
                <hr />
            </div>
            <div id="gyms" class="container p-3">
                <h2>Gyms</h2>
                <div class="row">
                    @if (Model.Gyms.Count > 0)
                    {
                        foreach (var item in Model.Gyms)
                        {
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="~/images/obl202005231057175364.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <a class="card-title" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        <p class="card-text">@item.Location</p>
                                        @if (item.GymPrices.Count > 0)
                                        {
                                            var temp1 = item.GymPrices[0].Subscribtion_Price;

                                            foreach (var i in item.GymPrices)
                                            {
                                                if (i.Subscribtion_Price < temp1)
                                                {
                                                    temp1 = i.Subscribtion_Price;
                                                }
                                            }
                                            <span>Starts from @temp1 </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>There are no gyms with that name</h5>
                    }
                </div>
                <hr />
            </div>

            <div id="trainers" class="container p-3">
                <h2>Coaches</h2>
                <div class="row">
                    @if (Model.Trainers.Count > 0)
                    {
                        foreach (var item in Model.Trainers)
                        {
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="~/images/user-icon.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <a class="card-title" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        <p class="card-text">@item.Location</p>
                                        <span>@item.SportType.Value</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>There are no coaches with that name</h5>
                    }
                </div>
            </div>        
    </div>
</section>

<script>
    $('#txtSearch').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/search/AutoCompleteSearch',
                dataType:"json",
                data: { searchstring: $('#txtSearch').val() },
                success: function (result) {
                    response($.map(result, function (item) {
                        return { label: item, value: item };
                    }));
                },
            });
        }
    });

    //when user choose one autocomplete options and press enter
    var input = document.getElementById("txtSearch");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("search-btn").click();
        }
    });

    $('#cat').change(function()
    {
        var category = $("#cat option:selected").text();
        if (category == "Playground") {
            $('#trainers').hide();
            $('#gyms').hide();
            $('#playgrounds').show();

        }
        else if (category == "Coach") {
            $('#playgrounds').hide();
            $('#gyms').hide();
            $('#trainers').show();
        }
        else if (category == "Gym") {
            $('#playgrounds').hide();
            $('#trainers').hide();
            $('#gyms').show();
        }
        else {
            $('#playgrounds').show();
            $('#gyms').show();
            $('#trainers').show();
        }
    });


    $('#search-price').change(function () {
        var location = $("#search-location option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        var price = $("#search-price option:selected").text();
        console.log(price);
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                price: price,
                location: location,
                sportType: sportType
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });


    $('#search-sportType').change(function () {
        var location = $("#search-location option:selected").text();
        var price = $("#search-price option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        console.log(sportType);
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                sportType: sportType,
                location: location,
                price: price
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });


    $('#search-btn').click(function (e) {
        e.preventDefault();
        const txt = $("#txtSearch").val();
        if (txt != null) {
            $.ajax({
                url: '/Search/SearchResult',
                type: 'GET',
                data: { searchString: txt },
                dataType: "text",
                success: function (result) {
                    $('#search-container').html(result);
                }
            });
        }
    });


    $('#search-location').change(function () {
        var price = $("#search-price option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        var location = $("#search-location option:selected").text();
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                location: location,
                price: price,
                sportType: sportType
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });
</script>
