@model SportDash.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/redmond/jquery-ui.css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
<link href="~/lib/homePage/fonts/icomoon/style.css" rel="stylesheet" />

<link href="~/lib/homePage/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/custom.css" rel="stylesheet" />
<link href="~/lib/homePage/css/magnific-popup.css" rel="stylesheet" />
<link href="~/lib/homePage/css/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/homePage/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/lib/homePage/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/lib/homePage/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/lib/homePage/css/animate.css" rel="stylesheet" />
<link href="~/lib/homePage/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
<link href="~/lib/homePage/css/fl-bigmug-line.css" rel="stylesheet" />
<link href="~/lib/homePage/css/aos.css" rel="stylesheet" />
<link href="~/lib/homePage/css/style.css" rel="stylesheet" />*@


<section>

    <div class="site-blocks-cover2 overlay" style="background-image: url(/images/site/bg-global2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12">
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <div class="container text-light py-4">
                                <div>
                                    <h2>What are you looking for ?</h2>
                                    <p>You can search for Sports Field, Coach or Gym with filter options </p>
                                    <div class="form-inline d-flex justify-content-between">
                                        <div class="form-group col-md-11 col-sm-9 mb-2 px-0">
                                            <input asp-for="SearchString" id="txtSearch" name="txtSearch" class="custom-select my-1 mr-sm-2 w-100" />
                                        </div>
                                        <div class="form-group col-md-1 col-sm-3 mb-2">
                                            <button id="search-btn" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-5 d-flex justify-content-between">
                                    <div class="form-group row col-md-3 col-sm-6">
                                        <label class="col-sm-4 col-form-label">Category</label>
                                        <div class="col-sm-8">
                                            <select id="cat" class="custom-select my-1 mr-sm-2" asp-for="CategoryString" asp-items="Model.Category">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3 col-sm-6">
                                        <label class="col-sm-4 col-form-label">Price</label>
                                        <div class="col-sm-8">
                                            <select id="search-price" class="custom-select my-1 mr-sm-2" asp-for="PriceString" asp-items="Model.Price">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3 col-sm-6">
                                        <label class="col-sm-4 col-form-label">Location</label>
                                        <div class="col-sm-8">
                                            <select id="search-location" class="custom-select my-1 mr-sm-2" asp-for="LocationString" asp-items="Model.Location">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3 col-sm-6">
                                        <label class="col-sm-6 col-form-label">Sport Type</label>
                                        <div class="col-sm-6">
                                            <select id="search-sportType" class="custom-select my-1 mr-sm-2" asp-for="SportTypeString" asp-items="Model.SportType">
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="search-container">
        <div class="site-section bg-light" id="playgrounds">
            <div class="container">
                @if (Model.Playgrounds.Count > 0)
                {
                    <div class="row justify-content-center text-center mb-5">
                        <div class="col-md-6" data-aos="fade">
                            <h1>Sports Fields</h1>
                        </div>
                    </div>
                    <div class="row hosting">
                        @foreach (var item in Model.Playgrounds)
                        {
                            <div class="col-md-4 col-lg-3 mb-4 mt-1" data-aos="fade" data-aos-delay="200">
                                <div class="unit-2  bg-white">
                                    @{
                                        var PlaygroungProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                                    }
                                    @if (PlaygroungProfileImage == null)
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                                    }
                                    else
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/" + PlaygroungProfileImage)" asp-append-version="true">
                                    }
                                    <div class="card-body">
                                        <h3>
                                            <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        </h3>
                                        <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                        @if (item.PlaygroundPrices.Count > 0)
                                        {
                                            var temp = item.PlaygroundPrices[0].Price;

                                            foreach (var i in item.PlaygroundPrices)
                                            {
                                                if (i.Price < temp)
                                                {
                                                    temp = i.Price;
                                                }
                                            }
                                            <p class="card-subtitle mb-1">Starts from @temp </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3 class="text-center text-secondary">There are no Sports Fields to display</h3>
                }
            </div>
        </div>

        <div class="site-section bg-white" id="gyms">
            <div class="container">
                @if (Model.Gyms.Count > 0)
                {
                    <div class="row justify-content-center text-center mb-5">
                        <div class="col-md-6" data-aos="fade">
                            <h1>Gyms</h1>
                        </div>
                    </div>
                    <div class="row hosting">
                        @foreach (var item in Model.Gyms)
                        {
                            <div class="col-md-4 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                                <div class="unit-2  bg-white">
                                    @{
                                        var GymProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                                    }
                                    @if (GymProfileImage == null)
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                                    }
                                    else
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/" + GymProfileImage)" asp-append-version="true">
                                    }
                                    <div class="card-body">
                                        <h3>
                                            <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        </h3>
                                        <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                        @if (item.GymPrices.Count > 0)
                                        {
                                            var temp1 = item.GymPrices[0].Subscribtion_Price;

                                            foreach (var i in item.GymPrices)
                                            {
                                                if (i.Subscribtion_Price < temp1)
                                                {
                                                    temp1 = i.Subscribtion_Price;
                                                }
                                            }
                                            <p class="card-subtitle mb-1">Starts from @temp1 </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3 class="text-center text-secondary">There are no Gyms to display</h3>
                }
            </div>
        </div>

        <div class="site-section bg-light" id="trainers">
            <div class="container">
                @if (Model.Trainers.Count > 0)
                {
                    <div class="row justify-content-center text-center mb-5">
                        <div class="col-md-6" data-aos="fade">
                            <h1>Coaches</h1>
                        </div>
                    </div>
                    <div class="row hosting">
                        @foreach (var item in Model.Trainers)
                        {
                            <div class="col-md-4 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                                <div class="unit-2  bg-white">
                                    @{
                                        var CoachProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                                    }
                                    @if (CoachProfileImage == null)
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                                    }
                                    else
                                    {
                                        <img class="card-img-top gallery-image" src="@("/images/" + CoachProfileImage)" asp-append-version="true">
                                    }
                                    <div class="card-body">
                                        <h3>
                                            <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                        </h3>
                                        <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                        <p class="card-subtitle mb-1">@item.SportType.Value</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h3 class="text-center text-secondary">There are no Coaches to display</h3>
                }
            </div>
        </div>
    </div>
</section>


@*<script src="~/lib/homePage/js/jquery-3.3.1.min.js"></script>
<script src="~/lib/homePage/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/lib/homePage/js/jquery-ui.js"></script>
<script src="~/lib/homePage/js/popper.min.js"></script>
<script src="~/lib/homePage/js/bootstrap.min.js"></script>
<script src="~/lib/homePage/js/owl.carousel.min.js"></script>
<script src="~/lib/homePage/js/jquery.stellar.min.js"></script>
<script src="~/lib/homePage/js/jquery.countdown.min.js"></script>
<script src="~/lib/homePage/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/lib/homePage/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/homePage/js/aos.js"></script>
<script src="~/lib/homePage/js/main.js"></script>*@




<script>
    $('#txtSearch').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/search/AutoCompleteSearch',
                dataType: "json",
                data: { searchstring: $('#txtSearch').val() },
                success: function (result) {
                    response($.map(result, function (item) {
                        return { label: item, value: item };
                    }));
                },
            });
        }
    });

    //when user choose one autocomplete options and press enter
    var input = document.getElementById("txtSearch");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("search-btn").click();
        }
    });

    $('#cat').change(function () {
        var category = $("#cat option:selected").text();
        if (category == "Playground") {
            $('#trainers').hide();
            $('#gyms').hide();
            $('#playgrounds').show();

        }
        else if (category == "Coach") {
            $('#playgrounds').hide();
            $('#gyms').hide();
            $('#trainers').show();
        }
        else if (category == "Gym") {
            $('#playgrounds').hide();
            $('#trainers').hide();
            $('#gyms').show();
        }
        else {
            $('#playgrounds').show();
            $('#gyms').show();
            $('#trainers').show();
        }
    });


    $('#search-price').change(function () {
        var location = $("#search-location option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        var price = $("#search-price option:selected").text();
        console.log(price);
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                price: price,
                location: location,
                sportType: sportType
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });


    $('#search-sportType').change(function () {
        var location = $("#search-location option:selected").text();
        var price = $("#search-price option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        console.log(sportType);
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                sportType: sportType,
                location: location,
                price: price
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });


    $('#search-btn').click(function (e) {
        e.preventDefault();
        const txt = $("#txtSearch").val();
        if (txt != null) {
            $.ajax({
                url: '/Search/SearchResult',
                type: 'GET',
                data: { searchString: txt },
                dataType: "text",
                success: function (result) {
                    $('#search-container').html(result);
                }
            });
        }
    });


    $('#search-location').change(function () {
        var price = $("#search-price option:selected").text();
        var sportType = $("#search-sportType option:selected").text();
        var location = $("#search-location option:selected").text();
        $.ajax({
            url: '/Search/AllSearches',
            type: 'GET',
            dataType: 'text',
            data: {
                location: location,
                price: price,
                sportType: sportType
            },
            success: function (result) {
                $('#search-container').html(result);
            }
        });
    });
</script>
