@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SportDash.Data
@inject SignInManager<ApplicationUser> SignInManager

<div class="bg-elephant py-4">
    <div class="container py-2">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="d-flex align-items-center col-md-6" style="padding:0 !important">
                <div id="profile-image-container">
                    @if (Model.Images.Where(a => a.IsProfileImg == true).FirstOrDefault() == null)
                    {
                        if (@Model.IsAdmin)
                        {
                            <img class="profile-image" src="@("/images/site/user-icon.jpg")" asp-append-version="true" data-toggle="modal" data-target="#editPrfileImageModal">
                        }
                        else
                        {
                            <img class="profile-image" src="@("/images/site/user-icon.jpg")" asp-append-version="true">
                        }
                    }
                    else
                    {
                        if (@Model.IsAdmin)
                        {
                            <img class="profile-image" src="@("/images/" + Model.ProfileImage.Title)" asp-append-version="true" data-toggle="modal" data-target="#editPrfileImageModal">
                        }
                        else
                        {
                            <img class="profile-image" src="@("/images/" + Model.ProfileImage.Title)" asp-append-version="true">
                        }
                    }
                </div>
                <div class=" ml-3">
                    <div class="d-flex">
                        <h3 class="text-white" id="entity-Name">@Model.Entity.FullName</h3>
                        @if (Model.IsAdmin == true)
                        {
                            <i class="fa fa-pencil-square-o pl-3 pt-1 text-Mountain" aria-hidden="true" data-toggle="modal" data-target="#editTitleModal" style="font-size: 2em; cursor:pointer"></i>
                        }
                    </div>
                    <p class="text-Geyser mt-0">@Model.Entity.SportType @Model.Entity.Category</p>
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User) && Model.IsAdmin == false)
            {
                <div class="col-md-2 mt-3 mb-3" style="padding:0 !important">
                    <a class="nav-link btn btn-info bg-Mountain text-elephant" asp-controller="Playground" asp-action="Message" asp-route-id="@Model.Entity.Id">Message</a>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTitleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" id="new-value" value="@Model.Entity.FullName" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-name-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPrfileImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/*" id="profile-image" required>
                            <label class="custom-file-label" for="validatedCustomFile">Update Profile Image...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-profile-image-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" on-content-loaded="true">
    $('#edit-name-btn').click(function (e) {
        e.preventDefault();
        var newValue = document.getElementById('new-value').value;

        $.ajax({
            url: '/@Model.ControllerName/EditEntityName',
            type: 'POST',
            datatype: 'text',
            data: { newName: newValue },
            success: function () {
                document.getElementById('entity-Name').innerHTML = newValue;
            }
        });
    });

    $('#edit-profile-image-btn').click(function (e) {
        e.preventDefault();

        let formImage = new FormData();
        let profileImage = $('#profile-image')[0].files[0];
        formImage.append('file', profileImage);

        $.ajax({
            url: '/@Model.ControllerName/EditProfileImage',
            type: 'POST',
            data: formImage,
            processData: false,
            contentType: false,
            success: function (result) {
                document.getElementById('profile-image-container').innerHTML = `<img class="profile-image" src="/images/${result}" asp-append-version="true" data-toggle="modal" data-target="#editPrfileImageModal">`
            }
        });
    });
</script>
