@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SportDash.Data
@inject SignInManager<ApplicationUser> SignInManager

<div class="bg-elephant py-4">
    <div class="container py-2">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="d-flex align-items-center col-md-6" style="padding:0 !important">
                @if (Model.Images.FirstOrDefault() == null)
                {
                    <img class="profile-image" src="@("/images/user-icon.jpg")" asp-append-version="true">
                }
                else
                {
                    <img class="profile-image" src="@("/images/" + Model.Images.FirstOrDefault().Title)" asp-append-version="true">
                }
                <div class=" ml-3">
                    <div class="d-flex">
                        <h3 class="text-white" id="entity-Name">@Model.Entity.FullName</h3>
                        @if (Model.isCurrentUser == true)
                        {
                            <button type="button" class="btn btn-success bg-Mountain ml-4" data-toggle="modal" data-target="#editTitleModal">Edit</button>
                        }
                    </div>
                    <p class="text-white mt-0">@Model.Entity.SportType</p>
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User) && Model.isCurrentUser == false)
            {
                <div class="col-md-2 mt-3 mb-3" style="padding:0 !important">
                    <a class="nav-link btn btn-primary text-white" asp-controller="Playground" asp-action="Message" asp-route-id="@Model.Entity.Id">Message</a>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTitleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="new-value" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" on-content-loaded="true">
    $('#edit-btn').click(function (e) {
        e.preventDefault();
        var newValue = document.getElementById('new-value').value;

        $.ajax({
            url: '/@Model.ControllerName/EditEntityName',
            type: 'POST',
            datatype: 'text',
            data: { newName: newValue },
            success: function () {
                document.getElementById('entity-Name').innerHTML = newValue;
            }
        });
    });
</script>