@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SportDash.Data
@inject SignInManager<ApplicationUser> SignInManager


@{var profileImage = "/images/site/bg-global.jpg";}
@if (Model.Images.Where(a => a.IsProfileImg == true).FirstOrDefault() != null)
{
    profileImage = "/images/" + Model.ProfileImage.Title;
}


<div class="site-blocks-cover2 overlay" style="background-image: url(@profileImage);" data-aos="fade" data-stellar-background-ratio="0.5" id="profile-image-container">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12">
                <h1 class="mb-2" id="entity-Name">@Model.Entity.FullName</h1>
                <p>@Model.Entity.SportType @Model.Entity.Category</p>

                @if (Model.IsAdmin)
                {
                    <div class="mb-4">
                        <a class="btn btn-primary btn-outline-primary rounded-pill text-white py-2 px-4" data-toggle="modal" data-target="#editPrfileImageModal">Edit Image</a>
                        <a class="btn btn-primary btn-outline-primary rounded-pill text-white py-2 px-4" data-toggle="modal" data-target="#editTitleModal">Edit Name</a>
                    </div>
                }


                @if (SignInManager.IsSignedIn(User) && Model.IsAdmin == false)
                {
                    <div class="mb-4">
                        <a class="btn btn-primary btn-outline-primary rounded-pill text-white py-2 px-4" asp-controller="Playground" asp-action="Message" asp-route-id="@Model.Entity.Id">Send a Message</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editTitleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" id="new-value" value="@Model.Entity.FullName" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-name-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPrfileImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/*" id="profile-image" required>
                            <label class="custom-file-label" for="validatedCustomFile">Update Profile Image...</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-profile-image-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" on-content-loaded="true">
    $('#edit-name-btn').click(function (e) {
        e.preventDefault();
        var newValue = document.getElementById('new-value').value;

        $.ajax({
            url: '/@Model.ControllerName/EditEntityName',
            type: 'POST',
            datatype: 'text',
            data: { newName: newValue },
            success: function () {
                document.getElementById('entity-Name').innerHTML = newValue;
            }
        });
    });

    $('#edit-profile-image-btn').click(function (e) {
        e.preventDefault();

        let formImage = new FormData();
        let profileImage = $('#profile-image')[0].files[0];
        formImage.append('file', profileImage);

        $.ajax({
            url: '/@Model.ControllerName/EditProfileImage',
            type: 'POST',
            data: formImage,
            processData: false,
            contentType: false,
            success: function (result) {
                document.getElementById('profile-image-container').style = `background-image: url(/images/${result});`;
            }
        });
    });
</script>
