@model IEnumerable<SportDash.Models.PlaygroundReservation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsOccubied)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Playground)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOccubied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Playground.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PlaygroundReservationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PlaygroundReservationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PlaygroundReservationId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccubied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playground.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaygroundReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaygroundReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaygroundReservationId">Delete</a>
            </td>
        </tr>
    }



</body>
</html>
