@model IEnumerable<IGrouping<string, Message>>
@{
    ViewData["Title"] = "Received Messages";
}

@if (Model.Count() == 0)
{
    <h3 class="mt-5" style="text-align: center;color: #808080">No Recent Messages</h3>
}
else
{
<div class="container mt-3 mb-5">
    <h3>Recent Messages</h3>
    <div id="all-msgs">
        @foreach (var message in Model)
        {
            <div id="_@(message.FirstOrDefault().SenderId)" style="background: #fff;" class="mt-3 round-borders media border p-3">
                <div class="media-body">
                    <h4>
                        <a asp-action="Message" asp-controller="Playground" asp-route-id="@(message.FirstOrDefault().SenderId)">@message.Key</a>
                        <small> <i>@message.FirstOrDefault().MessageDate</i></small>
                    </h4>
                    <p>@message.FirstOrDefault().Body</p>
                    <div class="container">
                        <button class="btn bg-elephant" style="color: #fff;" onclick="sendData('@message.FirstOrDefault().SenderId')" data-toggle="modal" data-target="#replayModal">Replay</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Count() > 5)
    {
        <button style="background: #1cc8a0;color: #102b3e;" class="btn w-100 mt-4" onclick="loadAll(event)">Load All...</button>
    }
</div>
}


<!-- Replay Modal -->
<div class="modal" id="replayModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Replay to Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <textarea id="replay" placeholder="Write your message ...." class="form-control"></textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" onclick="replay()" class="btn bg-elephant" style="color: #fff;" data-dismiss="modal">Send</button>
                <button type="button" class="btn bg-Geyser" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        let sender = "";
        function sendData(senderId) {
            sender = senderId;
        }
        async function replay() {
            const replayMsg = document.querySelector("#replay");
            if (replayMsg.value !== "") {
                if (connection.connectionState == 0) {
                    await connection.start();
                }
                connection.invoke("SendMsg", replayMsg.value, sender);
                replayMsg.value = "";             
            }
        }
        function loadAll(event) {
            event.target.style.display = "none";
            $.ajax({
                url: "/Messages/GetAll",
                type: 'POST',
                success: function (data) {
                    allmsgs.innerHTML = data;
                }
            })
        }

        connection.on("recMsg", function (res, senderId, username, date) {
            const htmlObj = `
                <div id='_${senderId}' style="background: #fff;" class="round-borders media border p-3 mt-3">
                    <div class="media-body">
                        <h4>
                            <a href="/Playground/Message/${senderId}" >${username}</a>
                            <small> <i>${date}</i></small>
                        </h4>
                        <p>${res}</p>
                        <div class="container">
                            <button class="btn bg-elephant" style="color: #fff" onclick="sendData('${senderId}')" data-toggle="modal" data-target="#replayModal">Replay</button>
                        </div>
                    </div>
                </div>
            `;
            if (username != '@(User.Identity.Name)') {                                
                const sentMsgs = document.querySelectorAll('#_' + senderId);
                sentMsgs.forEach(ele => ele.remove());
                $('#all-msgs').prepend(htmlObj);
            }
        });
    </script>
}