@model DataViewModel
@using SportDash.Components.Question;
@inject SportDash.Repository.IImageRepository _imageRepository

@{
    ViewData["Title"] = "Question";
}


@{
    QuestionVComponent questionVComponent = new QuestionVComponent(_imageRepository);
}


<div class="container py-4">
    <div class="my-5 bg-white">
        @{
            @await Component.InvokeAsync("QuestionVComponent", Model);
        }
    </div>
    <div id="Answer-container"class="ml-5 pb-5">
        <h3 class="mb-3">Answers</h3>
        @foreach (var item in Model.Question.Comments)
        {
            string GetDate(DateTime dateTime)
            {
                string meridiem;
                string Hour;
                if (dateTime.Hour >= 12)
                {
                    meridiem = "PM";
                    if (dateTime.Hour == 12)
                    {
                        Hour = $"{dateTime.Hour}";
                    }
                    else
                    {
                        Hour = $"{dateTime.Hour - 12}";
                    }
                }
                else
                {
                    meridiem = "AM";
                    if (dateTime.Hour == 0)
                    {
                        Hour = "12";
                    }
                    else
                    {
                        Hour = $"{dateTime.Hour}";
                    }
                }
                return $"{dateTime.Year}-{dateTime.Month}-{dateTime.Day} " +
                    $"{Hour}:{dateTime.Minute}:{dateTime.Second} {meridiem}";
            }
            <div class="card mb-4 custom-shadow">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-1 col-md-2 mb-2">
                            <img class="profile-image" style="width:64px;height:64px;" src="@questionVComponent.GetImagePath(item.UserId)" asp-append-version="true">
                        </div>
                        <div class="col-lg-9 col-md-7 text-left">
                            <h5 class="pb-0 mb-0">@item.User.UserName</h5>
                            <p class="mb-2">@GetDate(item.DateTime)</p>
                            <p class="h6 mb-0">@item.Body</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.IsSigned)
        {
            <div id="newcommentcontainer"class="card mb-4 custom-shadow">
                <div class="card-body mt-3 mb-1">
                    <div class="row justify-content-between px-2">
                        <div class="col-lg-1 col-md-2 mb-3">
                            <img class="profile-image" style="width:64px;height:64px;" src="@questionVComponent.GetImagePath(Model.CurrentUser.Id)" asp-append-version="true">
                        </div>
                        <div class="col-lg-11 px-0 col-md-10 text-left">
                            <div class="form-group col-12">
                                <textarea id="Comment_Text" class="form-control" rows="3" placeholder="Leave a comment ..."></textarea>
                                <span id="Comment_Validation"></span>
                            </div>
                            <div class="d-flex justify-content-start col-lg-8 col-12">
                                <a id="Comment" class="btn btn-primary text-light col-md-2 col-sm-12">Submit</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="Comment_Modal" aria-modal="true">
    <div class="modal-dialog text-dark" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="Comment_Modal_header_Message" class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Comment_Modal_Body"></p>
            </div>
            <div class="modal-footer">
                <button id="Ok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getDateString(myDate) {
        var today;
        if (myDate == null) {
            today = new Date();
        }
        else {
            today = myDate;
        }
        let hours = today.getHours();
        if (hours >= 12) {
            meridiem = " PM";
            if (hours != 12) {
                hours -= 12;
            }
        }
        else {
            meridiem = " AM";
            if (hours == 0) {
                hours = 12;
            }
        }
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        var time = hours + ":" + today.getMinutes() + ":" + today.getSeconds() + meridiem;
        return date + ' ' + time;
    }
    let Comment = document.getElementById("Comment");
    if (Comment != null) {
        Comment.addEventListener("click", () => {
            let postLength = document.getElementById("Comment_Text").value.trim().length;
            let RequiredLength = 5;
            if (postLength > RequiredLength) {
                document.getElementById("Comment_Validation").innerText = "";
                var dateTime = getDateString();
                $.ajax({
                    method: "POST",
                    url: '/@Model.ControllerName/Comment',
                    data: {
                        "Body": `${document.getElementById("Comment_Text").value}`,
                        "DateTime": `${dateTime}`,
                        "UserId": `@Model.CurrentUser?.Id`,
                        "QuestionId": `@Model.Question.Id`
                    },
                    success: () => {
                        let date = getDateString();
                        let NewComment = `<div class="card mb-4 custom-shadow">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-1 col-md-2 mb-2">
                            <img class="profile-image" style="width:64px;height:64px;" src="@questionVComponent.GetImagePath(Model.CurrentUser.Id)" asp-append-version="true">
                        </div>
                        <div class="col-lg-9 col-md-7 text-left">
                            <h5 class="pb-0 mb-0">@Model.CurrentUser.UserName</h5>
                            <p class="mb-2">${date}</p>
                            <p class="h6 mb-0">${document.getElementById("Comment_Text").value.trim()}</p>
                        </div>
                    </div>
                </div>
            </div>`;
                        let fragment = document.createRange().createContextualFragment("");
                        fragment.appendChild(document.createRange().createContextualFragment(NewComment));
                        //questionsContainer.insertBefore(fragment, questionsContainer.firstChild);
                        let newcommentcontainer = document.getElementById("newcommentcontainer");
                        document.getElementById("Answer-container").insertBefore(fragment, newcommentcontainer);

                        //raiseModal("Comment Posted", "The comment is successfully posted");
                        document.getElementById("Comment_Text").value = "";
                    },
                    error: () => {
                        raiseModal("Error", "The comment can't be posted");
                        document.getElementById("Comment_Text").value = "";
                    }
                });
            }
            else {
                document.getElementById("Comment_Validation").innerText = `*At least ${RequiredLength - postLength} more Characters are needed for posting`
            }

        });
    }

    function raiseModal(modalHeader, modalBody) {
        $("#Comment_Modal_header_Message").text(modalHeader);
        $("#Comment_Modal_Body").text(modalBody);
        $("#Comment_Modal").modal();
    }
    function getDateString(myDate) {
        var today;
        if (myDate == null) {
            today = new Date();
        }
        else {
            today = myDate;
        }
        let hours = today.getHours();
        if (hours >= 12) {
            meridiem = " PM";
            if (hours != 12) {
                hours -= 12;
            }
        }
        else {
            meridiem = " AM";
            if (hours == 0) {
                hours = 12;
            }
        }
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        var time = hours + ":" + today.getMinutes() + ":" + today.getSeconds() + meridiem;
        return date + ' ' + time;
    }
</script>