@model SportDash.ViewModels.DataViewModel

<div class="card mb-4 custom-shadow">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-1 col-md-2 mb-3">
                <img class="profile-image" style="width:64px;height:64px;" src="@Model.ImagePath" asp-append-version="true">
            </div>
            @{
                string GetDate(DateTime dateTime)
                {
                    string meridiem;
                    string Hour;
                    if (dateTime.Hour >= 12)
                    {
                        meridiem = "PM";
                        if (dateTime.Hour == 12)
                        {
                            Hour = $"{dateTime.Hour}";
                        }
                        else
                        {
                            Hour = $"{dateTime.Hour - 12}";
                        }
                    }
                    else
                    {
                        meridiem = "AM";
                        if (dateTime.Hour == 0)
                        {
                            Hour = "12";
                        }
                        else
                        {
                            Hour = $"{dateTime.Hour}";
                        }
                    }
                    return $"{dateTime.Year}-{dateTime.Month}-{dateTime.Day} " +
                        $"{Hour}:{dateTime.Minute}:{dateTime.Second} {meridiem}";
                }
            }
            <div class="col-lg-9 col-md-7 text-left">
                <h4 class="pb-0 mb-0">@Model.Question.User.UserName</h4>
                <p class=" pb-0 mb-2 text-gray-700">
                    @GetDate(Model.Question.CreationTime)
                    <span id="Last_Update" class="ml-2 text-gray-500"><i>Last updated: @GetDate(Model.Question.LastUpdateTime)</i></span>
                </p>
                <p id="Question_Body" class="h5 mb-0">@Model.Question.Body</p>
            </div>
            <div class="col-lg-2 col-md-3 d-flex justify-content-end">
                @if (Model.IsAdmin)
                {
                    <button id="Edit" class="btn btn-primary col-md-8 align-self-start mt-1">Edit</button>
                }
                <button id="Save" class="btn btn-primary col-md-8 align-self-start mt-1 d-none">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="Question_Modal" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="Question_Modal_header_Message" class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Question_Modal_Body"></p>
            </div>
            <div class="modal-footer">
                <button id="Ok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<script>
    let Edit = document.getElementById("Edit");
    let Save = document.getElementById("Save");
    if (Edit != null) {
        Edit.addEventListener("click", () => {
            let element = document.getElementById("Question_Body");
            let parent = element.parentElement;
            let Text = element.innerText;
            //let txtElement = document.createTextNode(Text);
            //element = document.createElement("input");
            //let attribute = document.createAttribute("type");
            //element.appendChild(txtElement);
            //element.setAttribute("type", "textfiled");
            let frag = document.createRange().createContextualFragment(`<textarea class="form-control" rows="4" id="Question_Body" placeholder="What's in your mind ...">${Text}</textarea>`);
            parent.insertBefore(frag, element);
            element.parentElement.removeChild(element);
            //parent.appendChild(element);
            Save.classList.remove("d-none");
            Edit.classList.add("d-none");

        });
    }
    if (Save != null) {
        Save.addEventListener("click", () => {
            SendEdit();

        });
    }
    function SendEdit() {
        var dateTime = getDateString();
        $.ajax({
            method: "POST",
            url: '/@Model.ControllerName/EditQuestion',
            data: {
                "question": {
                    "Id":`@Model.Question.Id`,
                    "Body": `${document.getElementById("Question_Body").value}`,
                    "CreationTime": `@Model.Question.LastUpdateTime`,
                    "LastUpdateTime": `${dateTime}`,
                    "UserId": `@Model.CurrentUser?.Id`,
                    "Category": `${@((int)Model.Question.Category)}`
                }
            },
            success: () => {
                raiseModal("Successful Posting","The question is successfully posted");
                let element = document.getElementById("Question_Body");
                let parent = element.parentElement;
                let Text = element.value;
                let frag = document.createRange().createContextualFragment(`<p id="Question_Body" class="h4 mb-0">${Text}</p>`);
                let Last_Update = document.getElementById("Last_Update");
                Last_Update.innerText = "Last Updated: " + dateTime;
                parent.insertBefore(frag, element);
                element.parentElement.removeChild(element);
                Save.classList.add("d-none");
                Edit.classList.remove("d-none");
            },
            error: () => {
                raiseModal("Error","The question can't be posted");
            }
        });
    }
    function raiseModal(modalHeader, modalBody) {
        $("#Question_Modal_header_Message").text(modalHeader);
        $("#Question_Modal_Body").text(modalBody);
        $("#Question_Modal").modal();
    }
</script>