@model IEnumerable<IGrouping<string, Message>>

@foreach (var message in Model)
{
    <div style="background: #fff;" class="mt-3 round-borders media border p-3">
        <div class="media-body">
            <h4>
                <a asp-action="Message" asp-controller="Playground" asp-route-id="@(message.FirstOrDefault().SenderId)">@message.Key</a>
                <small> <i>@message.FirstOrDefault().MessageDate</i></small>
            </h4>
            <p>@message.FirstOrDefault().Body</p>
            <div class="container">
                <button class="btn bg-elephant" style="color: #fff;" onclick="sendData('@message.FirstOrDefault().SenderId')" data-toggle="modal" data-target="#replayModal">Replay</button>
            </div>
        </div>
    </div>
}