@model SportDash.ViewModels.DataViewModel

    <div>
        @foreach (var item in Model.Reviews)
        {
            <div class="card">

                <div class="card-body">

                    <div class="row mb-3">

                        <div class="col-md-1">
                            @{
                                var UserProfileImage = item.Reviewer.Images.Where(a => a.IsProfileImg).Select(a => a.Title).FirstOrDefault();
                            }
                            @if (UserProfileImage == null)
                            {
                                <img class="profile-image-small" src="@("/images/site/user-icon.jpg")" asp-append-version="true">
                            }
                            else
                            {
                                <img class="profile-image-small" src="@("/images/" + UserProfileImage)" asp-append-version="true">
                            }
                        </div>

                        <div class="col-md-11 text-left">
                            <h3>@item.Reviewer.FullName</h3>
                            @if (item.Rating.ToString() == "Bad")
                            {
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else
                            {
                                if (item.Rating.ToString() == "Nice")
                                {
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                }
                                else
                                {
                                    if (item.Rating.ToString() == "Good")
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else
                                    {
                                        if (item.Rating.ToString() == "VeryGood")
                                        {
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        }
                                    }
                                }
                            }
                            <p>@item.Rating</p>
                            <p>@item.Review_Date</p>
                            <p class="h5">@item.Comment</p>
                            @if (User.IsInRole("User"))
                            {
                                @if (item.Reviewer.FullName == Model.CurrentUser.FullName)
                                {
                                    <div class="text-right">
                                        <Button value="@item.Id" id="review" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Delete</Button>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
