@model SportDash.ViewModels.MessagingViewModel

<div>
    <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3">
            <div class="heading-avatar-icon">
                @if (Model.ProfileImages.FirstOrDefault().Value == null)
                {
                    <img class="profile-image" src="@("/images/site/user-icon.jpg")" asp-append-version="true">
                }
                else
                {
                    <img class="profile-image" src="@("/images/" + Model.ProfileImages.FirstOrDefault().Value.Title)" asp-append-version="true">
                }
            </div>
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
            <a id="person-name" class="heading-name-meta text-secondary">
                @Model.CurrentPage
            </a>
        </div>
    </div>    
</div>

<div style="height: 350px;" class="row message full-width" id="conversation">

    <div id="msgs-container" class="msg-container">
        @foreach (var msg in Model.Messages.Reverse())
        {
            if (msg.Sender.UserName == User.Identity.Name)
            {
                <div class="row message-body">
                    <div class="col-sm-12 message-main-sender">
                        <div class="sender">
                            <div class="message-text">
                                @msg.Body
                            </div>
                            <span class="message-time pull-right">
                                @msg.MessageDate
                            </span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row message-body">
                    <div class="col-sm-12 message-main-receiver">
                        <div class="receiver">
                            <div class="message-text">
                                @msg.Body
                            </div>
                            <span class="message-time pull-right">
                                @msg.MessageDate
                            </span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="row reply">
    <div class="col-sm-11 col-xs-9 reply-main">
        <textarea class="form-control" rows="1" id="msg" onkeypress="sendKey(event)" placeholder="Type a message ..."></textarea>
    </div>
    <div class="col-sm-1 col-xs-1 reply-send">
        <a onclick="send()"><i class="fa fa-send fa-2x" aria-hidden="true"></i></a>
    </div>
</div>
</div>