@model SportDash.ViewModels.DataViewModel


<div class="bg-Geyser">
    <div id="playgrounds" class="container p-3">
        <h2>Playgrounds</h2>
        <div class="row">
            @if (Model.Playgrounds.Count != 0)
            {
                foreach (var item in Model.Playgrounds)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/images/obl202005231057175364.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.FullName</h5>
                                <p class="card-text">@item.Location</p>
                                @if (item.GymPrices != null)
                                {
                                    var temp = item.PlaygroundPrices[0].Price;

                                    foreach (var i in item.PlaygroundPrices)
                                    {
                                        if (i.Price < temp)
                                        {
                                            temp = i.Price;
                                        }
                                    }
                                    <span>Starts from @temp </span>
                                }

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>There are no playgrounds with that name</h5>
            }
        </div>
        <hr />
    </div>
    <div id="gyms" class="container p-3">
        <h2>Gyms</h2>
        <div class="row">
            @if (Model.Gyms.Count != 0)
            {
                foreach (var item in Model.Gyms)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/images/obl202005231057175364.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.FullName</h5>
                                <p class="card-text">@item.Location</p>
                                @if (item.GymPrices != null)
                                {
                                    var temp1 = item.GymPrices[0].Subscribtion_Price;

                                    foreach (var i in item.GymPrices)
                                    {
                                        if (i.Subscribtion_Price < temp1)
                                        {
                                            temp1 = i.Subscribtion_Price;
                                        }
                                    }
                                    <span>Starts from @temp1 </span>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>There are no gyms with that name</h5>
            }
        </div>
        <hr />
    </div>

    <div id="trainers" class="container p-3">
        <h2>Coaches</h2>
        <div class="row">
            @if (Model.Trainers.Count != 0)
            {
                foreach (var item in Model.Trainers)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/images/user-icon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.FullName</h5>
                                <p class="card-text">@item.Location</p>
                                <span>@item.SportType.Value</span>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>There are no coaches with that name</h5>
            }
        </div>
    </div>
</div>