@model SearchViewModel


<div class="site-section bg-light" id="playgrounds">
    <div class="container">
        @if (Model.Playgrounds.Count > 0)
        {
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h1>Sports Fields</h1>
                </div>
            </div>
            <div class="row hosting">
                @foreach (var item in Model.Playgrounds)
                {
                    <div class="col-md-4 col-lg-3 mb-4 mt-1" data-aos="fade" data-aos-delay="200">
                        <div class="unit-2  bg-white">
                            @{
                                var PlaygroungProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                            }
                            @if (PlaygroungProfileImage == null)
                            {
                                <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                            }
                            else
                            {
                                <img class="card-img-top gallery-image" src="@("/images/" + PlaygroungProfileImage)" asp-append-version="true">
                            }
                            <div class="card-body">
                                <h3>
                                    <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                </h3>
                                <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                @if (item.PlaygroundPrices.Count > 0)
                                {
                                    var temp = item.PlaygroundPrices[0].Price;

                                    foreach (var i in item.PlaygroundPrices)
                                    {
                                        if (i.Price < temp)
                                        {
                                            temp = i.Price;
                                        }
                                    }
                                    <p class="card-subtitle mb-1">Starts from @temp </p>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-center text-secondary">There are no Sports Fields to display</h3>
        }
    </div>
</div>

<div class="site-section bg-white" id="gyms">
    <div class="container">
        @if (Model.Gyms.Count > 0)
        {
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h1>Gyms</h1>
                </div>
            </div>
            <div class="row hosting">
                @foreach (var item in Model.Gyms)
                {
                    <div class="col-md-4 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                        <div class="unit-2  bg-white">
                            @{
                                var GymProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                            }
                            @if (GymProfileImage == null)
                            {
                                <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                            }
                            else
                            {
                                <img class="card-img-top gallery-image" src="@("/images/" + GymProfileImage)" asp-append-version="true">
                            }
                            <div class="card-body">
                                <h3>
                                    <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                </h3>
                                <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                @if (item.GymPrices.Count > 0)
                                {
                                    var temp1 = item.GymPrices[0].Subscribtion_Price;

                                    foreach (var i in item.GymPrices)
                                    {
                                        if (i.Subscribtion_Price < temp1)
                                        {
                                            temp1 = i.Subscribtion_Price;
                                        }
                                    }
                                    <p class="card-subtitle mb-1">Starts from @temp1 </p>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-center text-secondary">There are no Gyms to display</h3>
        }
    </div>
</div>

<div class="site-section bg-light" id="trainers">
    <div class="container">
        @if (Model.Trainers.Count > 0)
        {
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h1>Coaches</h1>
                </div>
            </div>
            <div class="row hosting">
                @foreach (var item in Model.Trainers)
                {
                    <div class="col-md-4 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                        <div class="unit-2  bg-white">
                            @{
                                var CoachProfileImage = item.Images.Where(a => a.IsProfileImg == true).Select(a => a.Title).FirstOrDefault();
                            }
                            @if (CoachProfileImage == null)
                            {
                                <img class="card-img-top gallery-image" src="@("/images/site/search_wallpaper.jpg")" asp-append-version="true">
                            }
                            else
                            {
                                <img class="card-img-top gallery-image" src="@("/images/" + CoachProfileImage)" asp-append-version="true">
                            }
                            <div class="card-body">
                                <h3>
                                    <a class="card-title text-dark" asp-controller="@item.Category" asp-action="Index" asp-route-id="@item.Id">@item.FullName</a>
                                </h3>
                                <p class="card-subtitle mb-1 text-muted">@item.Location</p>
                                <p class="card-subtitle mb-1">@item.SportType.Value</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-center text-secondary">There are no Coaches to display</h3>
        }
    </div>
</div>
