@model DataViewModel

<div>
    @foreach (var item in Model.Reviews)
    {
        <div class="card mb-4 custom-shadow">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-1 col-md-2 mb-3">
                        @{
                            var UserProfileImage = item.Reviewer.Images.Where(a => a.IsProfileImg).Select(a => a.Title).FirstOrDefault();
                        }
                        @if (UserProfileImage == null)
                        {
                            <img class="profile-image" style="width:64px;height:64px;" src="@("/images/site/user-icon.jpg")" asp-append-version="true">
                        }
                        else
                        {
                            <img class="profile-image" style="width:64px;height:64px;" src="@("/images/" + UserProfileImage)" asp-append-version="true">
                        }
                    </div>
                    <div class="col-lg-9 col-md-7 text-left">
                        <h4 class="pb-0 mb-0">@item.Reviewer.FullName</h4>
                        @if (item.Rating.ToString() == "Bad")
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else
                        {
                            if (item.Rating.ToString() == "Nice")
                            {
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else
                            {
                                if (item.Rating.ToString() == "Good")
                                {
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                }
                                else
                                {
                                    if (item.Rating.ToString() == "VeryGood")
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    }
                                }
                            }
                        }
                        <span class=" pb-0 mb-0 text-gray-600 ml-3">@item.Rating</span>
                        <p class=" pb-0 mb-2 text-gray-500">@item.Review_Date</p>
                        <p id="Question_Body" class="h5 mb-0">@item.Comment</p>
                    </div>
                    <div class="col-lg-2 col-md-3 d-flex justify-content-end">
                        @if (User.IsInRole("User"))
                        {
                            @if (item.Reviewer.FullName == Model.CurrentUser.FullName)
                            {
                                <Button value="@item.Id" id="review" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger col-md-8 align-self-start mt-1">Delete</Button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
